.lead__subtitle {
	max-width: 640px;
	margin: 0;
	padding: 0 0 60px 0;
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 1.2;

	text-align: center;

	color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
	.lead__subtitle {
		padding: 0 0 54px 0;
	}
}

@media screen and (max-width: 320px) {
	.lead__subtitle {
		max-width: 288px;
		font-size: 16px;
		line-height: 20px;
		padding: 0 0 40px 0;
	}
}